doctype html
html
	include head.pug
	body
		include path.pug
		each img in album.images
			div(style="background:"+img.borderColor)
				if (img.description)
					p= img.description
				img(src=img.filename, width=img.width, height=img.height)
		#alert
			p Utilisez les flèches haut et bas du clavier pour faire défiler les photos
		include path.pug
		script.
			(function(){
				var timer;

				function scrollTo(dest, duration) {
					if (duration <= 0) return;
					var de = document.documentElement;
					var delta = (dest - de.scrollTop)/ duration * 3;
					timer = setTimeout(function() {
						de.scrollTop = de.scrollTop + delta;
						if (de.scrollTop === dest) return;
						scrollTo(dest, duration - 3);
					}, 3);
				}

				window.addEventListener("keyup", function(e){
					// 38: up arrow      40: down arrow
					if (e.which !== 38 && e.which !== 40) return;
					var	pageCenter = window.innerHeight/2,
						minDist,
						currentIndex;
					var images = [].filter.call(document.querySelectorAll("img"), function(img, i){
						var h = img.height;
						if (h<100) return false;
						var r = img.getBoundingClientRect();
						var center = r.top + r.height/2;
						var dist = Math.abs(center-pageCenter);
						if (!(dist>minDist)) {
							minDist = dist;
							currentIndex = i;
						}
						return true;
					});
					currentIndex += e.which === 38 ? -1 : 1;
					var img = images[currentIndex];
					if (!img) return;
					clearTimeout(timer);
					scrollTo(img.offsetTop - (window.innerHeight-img.clientHeight)/2, 200);
				});
				
				if (localStorage.getItem("albumin-alert")!="2") {
					localStorage.setItem("albumin-alert", "2");
					var alert = document.getElementById("alert");
					if (!alert) return;
					alert.classList.add("visible");
					setTimeout(function(){
						alert.classList.remove("visible");
					}, 5000);
				}
			})();
