doctype html
html
	include head.pug
	body
		include path.pug
		each img in album.images
			div(style="background:"+img.borderColor)
				if (img.description)
					p= img.description
				img(src=img.filename, width=img.width, height=img.height)
		include path.pug
