doctype html
html
	include head.pug
	body.summary
		include path.pug
		#summary(style="background-image: url("+album.elements[0].filename+")")
			.side.mask
			.center
				.top.mask
				each a in album.albums
					a.mask(href=a.pageName)= a.title
				.bottom.mask
			.side.mask
